-
  var lang            = 'ja'
  var ogUrl           = ''
  var ogSiteName      = ''
  var pageType        = ''
  var contentClass    = ''
  var pageTitle       = ''
  var pageDescription = ''
  var pageKeywords    = ''

block vars

doctype html
html(lang=`${lang}`)
  head    
    meta(charset='UTF-8')
    title #{pageTitle}
    meta(name='description' content=`${pageDescription}`)
    meta(name='keywords' content=`${pageKeywords}`)

    //- start OGP
    meta(property='og:title' content=`${pageTitle}`)
    meta(property='og:description' content=`${pageDescription}`)

    meta(property='og:url' content=`${ogUrl}`)
    meta(property='og:site_name' content=`${ogSiteName}`)
    meta(property='og:image' content=`${ogUrl}ogp.png`)
    //- end OGP

    meta(name='format-detection' content='telephone=no')
    meta(name='viewport' content='width=device-width')
    link(rel="icon" href="/favicon.ico")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    include ./_partial/_stylesheet

    block stylesheets
    = '\n'

  body
    //- .
    //-   <script src="//tags.tiqcdn.com/utag/asics/main/dev/utag.sync.js"></script>
    #wrapper

      include ./_components/_header

      //- start main contents
      main#content(class=`l-contents ${contentClass}`)
        .l-contents__inr
          block main
          = '\n'
      //- end  main contents
      //
      .p-pagetop.p-fixed-view.is-fixed
        a.c-btn-pagetop.js-page-anchor(href="#wrapper" data-target-scroll='wrapper')

      include ./_components/_footer

    include ./_partial/_script

    block scripts
    = '\n'
